<div class="container">
  <h1>註冊頁面</h1>

  <div class="row">
    <%= form_for(@user, url: signup_path) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.submit "註冊" %>
    <% end %>
  </div>
</div>
